<script>
    const formDelete = document.querySelector('#formdelete')

    formDelete.addEventListener('submit',function(event){

        if({{chef.total_recipes > 0}}){
            alert(`Chef possui {{chef.total_recipes}} receitas.Delete as receitas e tente novamente`)
            event.preventDefault()
        } else { 
            const confirmation = confirm('Deseja mesmo deletar')

            if(!confirmation){
                event.preventDefault()
            }
        
        }
        
    })

</script>