@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color:#6558C3;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    
}
header{
    background-color: black;
    padding: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header div{
    width: 60%;
    display: flex;
    align-items: center;
}
form button#sair{
    background-color: inherit;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    cursor: pointer;
}
header a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
}

img.cabecalho{
    margin-left: 182px;
    margin-right: 40px;
}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.strong{
    font-weight: bold;
    font-style: italic;
}
/*==CARD CONTAINER==*/
.card-container{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    margin-left: 200px;
}
.card {
    display: flex;
}
.card img{  
    width: 140px;
    height: 70px;
    border-radius: 15px;
}
.card-infos{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.card-infos h3{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.card-infos h4{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #777777;
}
.card-infos a{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    text-decoration: none;
}
a#criar-receita{
    display: block;
    margin-left: 200px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: bisque;
    text-decoration: none;
    width: 100px;
    border-radius: 10px;
    text-align: center;
}
/*==PAGINA SHOW==*/
.cabecalho_show{
    display: grid;
    grid-template-columns: 1fr 600px;
    align-items: center;
}
.cabecalho_show a{
    justify-self: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    text-align: center;
}
img#pagina_show{
    margin-left: 200px;
    border-radius: 15px;
    width: 940px;
    height: 280px;

    object-fit: cover;
}
div.array-photos{
    display: flex;
    justify-content: flex-end;
    margin-left: 200px;
    width: 940px;
}
div.array-photos div{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
div.array-photos div:last-child{
    margin-right: 0;
}
div.array-photos div:first-child img{
    opacity: 1;
}
div.array-photos img{
    opacity: .6;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
.titulo-meio_show{
    text-align: center;
    margin-top: 20px;
}
.titulo-meio_show h2{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}
.titulo-meio_show h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #777777;
}
.descricao_show ul,
.descricao_show p{
    margin-left: 200px;
    width: 940px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}
.descricao_show p{
    text-align: justify;
    margin-bottom: 20px;
}
/*==FORMS==*/
.forms{
    position: relative;
    margin-left: 200px;
}
.forms h1{
    margin: 30px 0px;
}
.forms button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    height: 37px;
    cursor: pointer;
}
#btn-deletar{
    background-color: #dc4747;
    width: 92px;
    position: absolute;
    top: 0;
    left: 700px;
    color: #ffffff;
}
#btn-salvar{
    width: 139px;
    background-color: #6558C3;
    position: absolute;
    top: 0;
    left: 800px;
    color: #ffffff;
}
select,
input{
    width: 940px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
textarea{
    width: 940px;
    resize: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.forms .item div{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #111111;
    font-weight: bold;
}
.forms .item > div{
    margin-bottom: 5px;
}
.btn-ingredient,
.btn-modopreparo,
.btn-remove-ingredient,
.btn-remove-preparo{
    font-size: 16px;
    color: #6558C3;
    margin-top: 3px;
    background-color: white;
    height: 0px;
    border-radius: 0px;
}
.forms div:nth-child(5) textarea{
    margin-bottom: 10px;
}
div.item.meio > div{
    margin-top: 20px;
}
/*==CREATE CHEFS==*/
.imagechef-input{
    width: 139px;
    height: 37px;
    position: relative;
}
.imagechef-input .input-file{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.imagechef-input span{
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
/*==IMAGE INPUT RECIPES==*/
.image-container{
    display: grid;
    grid-template-columns:150px 1fr;
    gap:10px;
    width: 100%;
    max-width: 940px;
}
.image-container .image-preview{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
}
.image-container .image-preview img{
    width: 150px;
    height: 150px;
    border-radius: 4px;
}
.item.meio div#image-input{
    width: 150px;
    height: 150px;
    position: relative;
}
.item.meio div#image-input .input-file{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}
div#image-input i{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #DDDDDD;
}
div.image{
    position: relative;
}
div.image i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: rgba(255,255,255,0.8);
    cursor: pointer;
    opacity: 0;
    transition: 200ms;
}
div.image i:hover{
    opacity: 1;
}
/*==INDEX CHEFS==*/
a#criar-chefs{
    display: block;
    margin-left: 200px;
    margin-top: 10px;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: bisque;
    text-decoration: none;
    width: 100px;
    border-radius: 10px;
    text-align: center;
}
.chefs-container{
    width: 100%;
    max-width: 940px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
}
div.chefs{
    display: grid;
    grid-template-columns:50px 1fr;
    column-gap: 15px;
    align-items: center;
}
div.chefs img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.chefs-detalhes div{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #111111;
}
.chefs-detalhes a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}
/*==SHOW CHEFS==*/
.cabecalho-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
}
.cabecalho-show a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 4px;
}
.meio-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    margin-left: 200px;
}
.meio-show img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.meio-show h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #111111;
}
.meio-show h3{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #777777;
}
.receitas-show{
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.receitas-container{
    display: grid;
    grid-template-columns: 172px 1fr;
    column-gap: 10px;

}
.receitas-container img{
    width: 172px;
    height: 80px;
    border-radius: 8px;
}
.receitas-show-detalhes{
    display: flex;
    flex-direction: column;
}
.receitas-show-detalhes h2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #111111;
}
.receitas-show-detalhes h3{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #777777;
}
.receitas-show-detalhes a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}
/*==CREATE USERS==*/
section.form-users form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
section.form-users form div.userheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.form-users form div.input-adm{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
section.form-users form div.input-adm,
section.form-users form div.userinputs{
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
}
section.form-users form div.userinputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
section.form-users form div.userinputs input{
    width: 450px;
    height: 49px;
    margin: 20px 0;
}
section.form-users form div.userinputs div{
    display: flex;
    flex-direction: column;
}
section.form-users form div.input-adm input[type='checkbox']{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
div.userheader h1{
    margin-left: 0;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 24px;
}
div.userheader button{
    width: 139px;
    height: 37px;
    border-radius: 4px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 16px;
    color: white;
}
div.userheader button[type='submit']{
    background-color: var(--primary-color);
    cursor: pointer;
}
div.userheader button#cancelar{
    background-color: #8a8a8a;
    cursor: pointer;
}
/* MENSAGENS DE ERRO */
@keyframes hidemessage{
    to{
        top: -50px;
        opacity: 0;
    }
  }
  .messages{
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    opacity: 1;
    animation: hidemessage 400ms 3s ease-out forwards;
  }
  .messages.error{
    background-color: #e74c3c;
  }
  .messages.success{
    background-color: rgb(122,182,30);
  }