<div class="item">
    <div>Título da receita</div>
    <div>
        <input
            type="text"
            name="title"
            value='{{recipe.title}}'>
    </div>
</div>

<div class="item meio">
    <div>Imagem da receita-URL</div>
    <div>
        <input
            type="url"
            name="image"
            placeholder="http://"
            value='{{recipe.image}}'
        >
    </div>
</div>

<div class="item meio">
    <div>Chef</div>
    <div>
        <select name="chef">
            {% for chef in chefs %}
                <option value="{{chef.id}}" 
                {% if chef.id == recipe.chef_id %} selected {% endif %}>{{chef.name}}</option>
            {% endfor %}
        </select>
    </div>
</div>

{# <div class="item meio">
    <div>Chef</div>
    <div>
        <select name="chef">
            {% for chef in chefs %}
                <option value="{{chef.id}}">{{chef.name}}</option>
            {% endfor %}
        </select>
    </div>
</div> #}

<div id='ingredients' class="item meio">
    <div>Ingredientes</div>
    {% if recipe.ingredients.length <=0 %}
        <div class='ingredient'>
            <input
                type="text"
                name="ingredients[]"
            >
        </div>    
        {% endif %}
    {% for recipe in recipe.ingredients %}
        <div class='ingredient'>
            <input
                type="text"
                name="ingredients[]"
                value='{{recipe}}'>
        </div>
    {% endfor %}
</div>
<button type="button" class='btn-ingredient'>Adicionar ingrediente</button>
<button type="button" class='btn-remove-ingredient'>Remover ingrediente</button>

<div id='preparations' class="item meio">
    <div>Modo de preparo</div>
    {% if recipe.preparation.length <=0 %}
        <div class='preparation'>
            <input
                type="text"
                name="preparation[]"
            >
        </div>
    {% endif %}
    {% for recipe in recipe.preparation %}
        <div class='preparation'>
            <input
                type="text"
                name="preparation[]"
                value='{{recipe}}'>
        </div>
    {% endfor %}
</div>
<button type="button" class='btn-modopreparo'>Adicionar passo</button>
<button type="button" class='btn-remove-preparo'>Remover passo</button>

<div class="item meio">
    <div>Informações Adicionais</div>
    <div>
        <textarea name="information" cols="30" rows="10">{{recipe.information}}</textarea>
        
    </div>
</div>
 
<button id='btn-salvar'type="submit">Salvar Receita</button>
<script src="/camposDinamicos.js"></script>
