{% extends 'admin/recipes/layout.njk' %}

{% block content %}
    
    <a id='criar-receita' href="/admin/recipes/create">Criar Receita</a>

    <h1>Gerenciar receitas</h1>
    {% if recipes.length <=0 %}
        <h1 style='color:red'>Nenhuma receita cadastrada ainda</h1>
    {% endif %}   

    <div class="card-container">

        {% for recipe in recipes %}

            <div class="card">

                <img src="{{recipe.src}}" alt="Imagem de {{recipe.title}}">
                <div class="card-infos">
                    <h3>{{recipe.title}}</h3>
                    <h4>por {{recipe.chef_name}}</h4>
                    <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>

            </div>

        {% endfor %}

    </div>
{% endblock content %}}