<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <a href="/admin/recipes"><img class='cabecalho' src="/assets/logo_branca.png" alt="logo Foodfy"></a>
    <a id='receitas' href="/admin/recipes">RECEITAS</a>
    <a id='chefs' href="/admin/chefs">CHEFS</a>   
</header>
<body>
    {% block content %} {% endblock %}
    <script src="/main.js"></script>
</body>
</html>